@import "tailwindcss";
@plugin "daisyui";

:root {
  --secondary-color: #34485A;
  --font-family: 'Inter', sans-serif;
  --cardtitle-fs: 11px;
  --card-fs: 1 rem;
}

h1 {
  @apply font-semibold text-[#34485A];
}

.footer-class nav a {
  @apply text-gray-400;

}